body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playersButtons {
    margin: 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: rgb(255, 230, 0);
}
.player1Button {
    
    border: 1px solid black;
    color: black;
    background-color: rgb(255, 230, 0);
}
.player2Button {
    border: 1px solid rgb(255, 230, 0);
    color: rgb(255, 230, 0);
    background-color: black;
}




.secPlayer {
    /* background-color: seagreen; */
}

.secCircle {
    height: 50px;
    width: 364px;
    /* background-color: salmon; */
}

.circlePlayer1 {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(255, 230, 0);
}

.circlePlayer2 {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
}


section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
li{
    
    /* text-decoration: none; */
    list-style: none;
    /* border: solid 3px #000000; */

}

/* .column{
    text-decoration: none;
    list-style: none;
    border: solid 3px #000000;

} */

.tupla{
    height: 50px;
    width: 50px;
    text-decoration: none;
    list-style: none;
    border: solid 1px #000000;
}
